<div class="content-container intro-container">
	<div class="intro-pic"></div>
	<div>
		<div class="intro-text">
			<div data-aos="fade-right">
				<h1 class="hello">Hello!</h1> 
				<h1>My name is <span class="teal-text">Elizabeth</span> Vo.</h1>
			</div>
			<h1 data-aos="fade-left">I'm an Australian <span class="teal-text">web developer</span></h1> 
			<h1 data-aos="fade-left">based in Tokyo since 2015.</h1>
		</div>
		<div class="circle-button-container">
			<a href="#about"><div class="circle-button"><i class="lni lni-emoji-happy"></i></div></a>
			<a href="#projects"><div class="circle-button"><i class="lni lni-folder"></i></div></a>
			<a href="#skills"><div class="circle-button"><i class="lni lni-layers"></i></div></a>
			<a href="#contact"><div class="circle-button"><i class="lni lni-comments-alt"></i></div></a>
		</div>
	</div>
</div>

<!--------------------ABOUT ME-------------------->
<div class="lighter-teal-background">
	<a id="about"></a>
	<div class="content-container section about-container">
		<h1 data-aos="flip-down" class="section-header">Let me tell you a little story...</h1>
		<div class="paragraph-container">
			<div class="paragraph-content">
				<p>I am a full-stack web developer, comitted to a journey of <a href="#skills">learning new tools and skills</a> in pursuit of channeling my creativity through creating memorable, maintainable websites with delightful UI.</p>
        <p>(I particularly have a soft spot for CSS art and animations!)</p>
			</div>
			<div class="paragraph-content">
				<p>I have a background in working for the Government of Japan and consulting Pharmaceutical companies from a <a href="http://www.linkedin.com/in/elizabeth-vo" target="_blank">fruitful 5 year career purely in start up environments</a> across the education sector, recruitment and sales.</p>
			</div>
			<div class="paragraph-content">
				<p>There is almost nothing I love more than waking up on a warm Sunday morning to the <a href="https://youtu.be/oYEYc8Ge3nw" target="_blank">distant warbling of magpies</a> and the scent of freshly baked pastry meat pies.</p>
				<p><em>Except maybe squashing the last bug in my code!</em> <i class="far fa-smile-wink"></i></p>
			</div>
		</div>
	</div>
</div>

<!--------------------PROJECTS-------------------->
<a id="projects"></a>
<div class="content-container section projects-container">
	<h1 data-aos="flip-down" class="section-header">Projects</h1>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione asperiores doloremque officia, a illo recusandae laboriosam voluptate sit autem similique labore neque iste, natus, tempore harum? Nihil nostrum voluptatem ipsam.</p>
</div>

<!--------------------WIP-------------------->
<div class="content-container section projects-container">
	<h1 data-aos="flip-down" class="section-header">Currently working on</h1>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione asperiores doloremque officia, a illo recusandae laboriosam voluptate sit autem similique labore neque iste, natus, tempore harum? Nihil nostrum voluptatem ipsam.</p>
  <% if false %>
    <p><%= link_to 'This is a link', '/iru.html', :relative => true %></p>
  <% end %>
</div>

<!--------------------SKILLS-------------------->
<% languages = ["HTML5", "CSS3/Sass", "JavaScript", "Ruby"] %>
<% frameworks = ["Ruby on Rails", "xReact", "xTailwind CSS", "Bootstrap", "SQL", "PostgreSQL", "SQLite3"] %>
<% tools = ["Git/Github", "Heroku", "Netlify", "Command Line", "Figma", "Trello", "Slack", "G-Suite"] %>
<% hard_skills = ["English (Native)", "Japanese (JLPT N2)", "Responsive Design", "UI & UX Design", "APIs/Scraping", "OOP", "Product Prototyping"] %>
<div class="teal-background">
	<a id="skills"></a>
	<div class="content-container section skills-container">
		<h1 data-aos="flip-down" class="section-header">Technical Stack and Skills</h1>
		<div class="paragraph-container">

			<div class="paragraph-content" data-aos="fade-right">
				<h4 class="p-white-text">Languages</h4>
				<% languages.each do |x| %>
					<div class="skill">
						<p><%= x %></p>
					</div>
				<% end %>
			</div>

			<div class="paragraph-content" data-aos="fade-right">
				<h4 class="p-white-text">Libraries & Frameworks</h4>
				<% frameworks.each do |x| %>
					<div class="skill">
						<% if x[0] != "x" %>
							<p><%= x %></p>
						<% end %>
					</div>
				<% end %>
			</div>

			<div class="paragraph-content" data-aos="fade-left">
				<h4 class="p-white-text">Tools & Platforms</h4>
				<% tools.each do |x| %>
					<div class="skill">
						<p><%= x %></p>
					</div>
				<% end %>
			</div>

			<div class="paragraph-content" data-aos="fade-left">
				<h4 class="p-white-text">Hard Skills</h4>
				<% hard_skills.each do |x| %>
					<div class="skill">
						<p><%= x %></p>
					</div>
				<% end %>
			</div>

		</div>
	</div>
</div>

<!--------------------CONTACT-------------------->
<div class="raisin-background">
	<a id="contact"></a>
	<div class="content-container section contact-container">
		<h1 data-aos="flip-down" class="teal-text section-header">Let's <span class="p-white-text">create</span> something together?</h1>
		<p class="p-white-text">Whether it be a web app, or the start of a new conversation, you're welcome to reach out!</p>
		<span class="light-teal-text">
      <i class="far fa-envelope"></i>
      <a class="email-text" href='ma&#105;&#108;t&#111;&#58;he%&#54;C&#108;%6F&#37;&#52;0e&#110;svo%&#50;Em%6&#53;'>&#104;ello&#64;ensvo&#46;m&#101;</a>
    </span>
		<div class="social-container">
			<a href="https://github.com/ensvo" target="_blank"><i class="lni lni-github-original"></i></a>
			<a href="https://www.linkedin.com/in/elizabeth-vo/" target="_blank"><i class="lni lni-linkedin-original"></i></a>
			<a href="https://codepen.io/ensvo" target="_blank"><i class="lni lni-codepen"></i></a>
		</div>
		<div class="top-arrow">
			<a href="#"><i class="fas fa-arrow-circle-up"></i></a>
		</div>
		<p class="footer">© Elizabeth Vo 2020</p>
	</div>
</div>
